@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');

body{
	font-family:'Dosis', sans-serif;
}

.header{
	background-image:url(../img/bg3.jpg);
  background-size: cover;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo{
  width: 150px;
}

.closebutton{
  width: 50px;
  height: 50px;
  color: #ffffff;
}
.mymenu{
  text-align: center;
  float: right;
  display: none;
}

.mymenu li{
  display: inline-block;
  margin-left: 40px;
  list-style-type: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.mymenu li a{
  color: #ffffff;
  text-decoration: none;
}

.header h1{
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin-top: 120px;
  color: #ffffff;
}

.header p{
  font-size: 18px;
  font-weight: 400;
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
}

.scrollarea{
  text-align: center;
}

.scrolldown{
  width: 170px;
  margin-top: 150px;
}

.hamburger{
  width: 30px;
  float: right;
}
