@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
	font-family:'Dosis', sans-serif;
}

.header{
	/*background-image:url(../img/bg2.jpg);*/
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../img/bg1.jpg);
  background-size: cover;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo{
  /*width: 150px;*/
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.closebutton{
  width: 50px;
  height: 50px;
  color: #ffffff;
}
.mymenu{
  text-align: center;
  float: right;
  display: none;
}

.mymenu li{
  display: inline-block;
  margin-left: 40px;
  list-style-type: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400; /*700 is bold, 400 is regular and 300 is light*/
}

.mymenu li a{
  color: #ffffff;
  text-decoration: none;
}

.header h1{
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin-top: 150px;
  color: #ffffff;
}

.header p{
  font-size: 18px;
  font-weight: 400;
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
}

.scrollarea{
  text-align: center;
}

.scrolldown{
  width: 180px;
  margin-top: 140px;
}

.hamburger{
  width: 30px;
  float: right;
}

.about{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #383838;
}

.about h1{
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

.about-icon{
  width: 40%;

}
.icon-align{
  text-align: center;
  margin-top: 30px;
}

.about h2{
  font-size: 24px;
  font-weight: 700;
  color: #0e92a9;
  margin-top: 30px;
  text-align: center;
}

.about p{
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
}

.about a{
  color: #0b708b;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

.about a:hover{
  color: #0e92a9;
}

.ach{
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../img/bg6.jpg);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  background-attachment: fixed;
  color: #ffffff;/*font color for text*/
  text-align: center;/*aligns ach h1 and achbloc span to the center*/
}

.ach h1{
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.achbloc span{
  font-size: 100px;
  font-weight: 300;
}

.achbloc h3{
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0b708b;
  margin-bottom: 80px;
}

.portfolio{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #0b708b;
  color: #ffffff;
}

.portfolio h1{
  font-size: 36px;
  font-weight: 400;/*700 is bold, 400 is regular and 300 is light*/
  text-transform: uppercase;
  text-align: center;
}

.portfolio p{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

/*my code image grid start*/
.img-grid {/*
  width: 900px;
  margin: 0 auto;
  overflow: auto;*/
}

.img-grid ul {
  list-style-type: none;
}

.img-grid li img {
  float: left;
  margin: 10px;
  border: 5px solid #fff;

  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.img-grid li img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}

/*my code image grid end*/

.footer{
  background: #383838;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.footerlogo{
  width: 90px;
}

.footer p{
  font-size: 12px;
  color: #ffffff;
  margin-top: 40px;
}
